# Ignorar pasta do Visual Studio Code
.vscode/
# Ignorar configurações de rota config.js
config.js
# Ignora todos os arquivos do SQlite
*.db
*.db-shm
*.db-wal
# Ignorar toda a pasta de Logs
Logs/
# Ignorar qualquer arquivo de extensão .log
*.log
